 

/*hide the things we don't want */
#sidebar-left, .colright, #breadcrumb{
	
	display:none;
	
}


body.two-sidebars .outer{
	margin-left:0px !important;
	margin-right:0px !important;
	
	
}


/* SVG rules */

#chart{
	font-family:Helvetica, Arial, sans-serif;
	border:1px solid #CCC;	
}


.link {
  fill: none; 
  
  stroke-width: 3px;
}

 