 

/*hide the things we don't want */
#sidebar-left, .colright, #breadcrumb{
	
	display:none;
	
}


body.two-sidebars .outer{
	margin-left:0px !important;
	margin-right:0px !important;
	
	
}


/* SVG rules */

#chart{
	font-family:Helvetica, Arial, sans-serif;
}


.link {
  fill: none; 
  stroke-width: 3px;
}


.hoverLink{
	stroke-width: 9px;
	fill: none;
	stroke: #F00;
	opacity:0; 
}
